---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 115
AccessModifierOffset: -4
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 2
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
BreakBeforeBraces: Mozilla
